<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptionsUnity" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Cadastrar Medida</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body"> 
        <div class="input-group mb-3"> 
            <form action="/un/create" class="d-flex h-5" method="POST">
              <input type="text" class="form-control" name="name" placeholder="Crie uma Medida" aria-label="Crie uma Medida" aria-describedby="button-addon2">
              <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Criar</button>
            </form>
      </div>
        <ul class="list-group">
            <li class="list-group-item active" aria-current="true">Medidas Ativas</li>
            <% unities.forEach(unity=> { %>
                <li class="list-group-item"><%= unity.name %> <button type="button" onclick="location.href = '/un/delete/<%=unity._id%>'" class="btn-close" aria-label="Close"></button></li> 
             
            <% }) %>
            
          </ul>
    </div>
  </div>

  